* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

section {
  padding: 3rem 0 4rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.gray {
  background-color: #f7f7f7;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.intro p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.intro .cta {
  margin: 2rem 0;
}

.button {  
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.primary {
  background-color: #3396f3;
  color: white;
}

.secondary {
  background-color: white;
  color: #444;
}

footer {
  background-color: #3789bf;
}